<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYJSON-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MYJSON-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MYJSON-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MYJSON-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MYJSONTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E6853DB1ECE3392002A7743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E6853E81ECE33B1002A7743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E6853F51ECE359A002A7743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E6854021ECE3655002A7743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9102C9531EC90118005E5283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9102C9651EC90168005E5283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9102C9781EC902AD005E5283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91044C321EBB9572009824AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91044C3B1EBB9572009824AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
